@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');

input:focus, textarea:focus, select:focus, button:focus {
    outline: none !important;
    border-color: grey !important;
    box-shadow: none !important;
}

input:focus, textarea:focus, select:focus, button:focus {
    outline: none !important;
    border-color: grey !important;
    box-shadow: none !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.content {
	margin-top: 74px;
}

/*###########      #############
###########  Notices  ##########
#############      ###########*/

.notice {
	position: fixed;
	top: 100px;
	right: 0.5rem;
	padding: 15px;
    background-color: #fafafa;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
    z-index: 999;
}

.notice-success {
    border-left: 6px solid #d4edda !important;
}
.notice-success>strong {
    color: #155724;
}

.notice-danger {
    border-left: 6px solid #f8d7da !important;
}
.notice-danger>strong {
    color: #721c24;
}

/*###########      #############
###########  Navbar  ###########
#############      ###########*/

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	z-index: 999;
	box-shadow: 0 0 5px grey;
}

.navbar a.active {
	color: #000;
}

.navbar img {
	height: 48px;
}

/*###########      #############
###########  Footer  ###########
#############      ###########*/

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #e4e4e4
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background-color: #e4e4e4
}

.footer .container {
	text-align: center;
}


.footer p {
	padding: 20px;
}

/*########            ##########
#########  Forms Sign  #########
##########            ########*/

.form-sign {
	position: absolute;
  	left: 50%;
  	top: 30%;
  	transform: translate(-50%, -30%);
}

.form-sign form {
	padding: 15px;
	background-color: #f4f4f4;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

.form-sign label {
	display: block;
	text-align: center;
}

.form-sign ul {
	list-style: none;
	color: #721c24;
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
	border-radius: .25rem;
	padding: .75rem 1.25rem;
}

/*###########      #############
############  Home  ############
#############      ###########*/

/***** Header *****/

.header {
	position: relative;
	height:100vh;
	background: url('../img/header_bg.jpg') no-repeat center center;
	background-size: cover;
}

.header .down-arrow .arrow{
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 15px;
	width: 50px;
}

/***** Tricks area *****/

.tricks .card {
	padding: 0;
	margin: 15px 0; 
}

.tricks .card .thumbnail {
	height: 150px;
	background-size: 105%;
	background-position: center;
	background-repeat: no-repeat;
}

.tricks .card-body {
	padding: 10px;
}

.tricks .card-body .card-title {
	margin: 0;
}

.tricks .card-body .card-title a {
	color: #404040;
}

.tricks .card-body button {
	padding: 0 0 3px 0;
}

.tricks .card-body .fa-pencil-alt {
	color: #5e5e5e;
}

.tricks .card-body .fa-trash-alt {
	color: #f26363;
}

#btn-loadmore {
	display: block;
	margin: 25px auto;
}

/*###########      #############
##########  New trick  #########
#############      ###########*/

/***** Form *****/

form[name="tricks_new"] textarea {
	min-height: 350px;
}

/***** Image preview *****/

.preview-thumbnail img, .preview-additional img {
	border-radius: 0.5rem;
}

.preview-thumbnail img {
	padding: .25rem!important;
	flex: 0 0 100%;
    max-width: 100%;
}

.preview-additional img {
	padding: .25rem!important;
	flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

/*########            ##########
########  Trick details  #######
##########            ########*/

.trick-details .trick-header {
	position: relative;
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align:center; 
    display:table;
}

.trick-details .trick-header .blur {
	position: absolute;
	width: 100%;
	height: 100%;
	filter: blur(5px);
}

.trick-details .trick-header h1 {
	color: #fff;
	text-shadow: 0 0 3px black;
	font-size: 3.5rem;
	display:table-cell;
	vertical-align:middle;
	z-index: 999;
}

.trick-details .medias {
	display: flex;
	overflow-x: auto;
}

.trick-details .medias .images, .trick-details .medias .videos {
	display: flex;
	padding-bottom: 10px;
	margin-top: 15px;
}

.trick-details .medias .images img, .trick-details .medias .videos iframe {
	height: 150px;
	width: auto;
	margin: 0 5px;
}

.trick-details .description {
	margin-top: 50px;
}

/*########            ##########
#########  Trick edit  #########
##########            ########*/

.pre-medias .card {
	border: none;
	margin: 0 0.5rem;
}

.pre-medias .card .card-body {
	padding: 1rem 0;
}

.pre-medias img, .pre-medias iframe {
	height: 120px;
	width: auto;
}