@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700&display=swap');

*:focus {
    outline: none !important;
    border-color: grey !important;
    box-shadow: none !important;
}

*:active {
    outline: none !important;
    border-color: grey !important;
    box-shadow: none !important;
}

/*###########      #############
###########  Navbar  ###########
#############      ###########*/

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	z-index: 999;
	box-shadow: 0 0 5px grey;
}

.navbar a.active {
	color: #000;
}

.navbar img {
	height: 48px;
}

/*###########      #############
###########  Footer  ###########
#############      ###########*/

.footer .copyright {
	text-align: center;
	margin: 0;
	padding: 20px;
	background-color: #e4e4e4
}

/*########            ##########
#########  Forms Sign  #########
##########            ########*/

.form-sign {
	position: absolute;
  	left: 50%;
  	top: 30%;
  	transform: translate(-50%, -30%);
}

.form-sign form {
	padding: 15px;
	background-color: #f4f4f4;
	border: 1px solid lightgrey;
	border-radius: 3px;
}

.form-sign label {
	display: block;
	text-align: center;
}

.form-sign ul {
	list-style: none;
	color: #721c24;
	background-color: #f8d7da;
	border: 1px solid #f5c6cb;
	border-radius: .25rem;
	padding: .75rem 1.25rem;
}

/*###########      #############
############  Home  ############
#############      ###########*/

/***** Header *****/

.header {
	position: relative;
	height:100vh;
	background: url('../img/header_bg.jpg') no-repeat center center;
	background-size: cover;
}

.header .down-arrow .arrow{
	cursor: pointer;
	position: absolute;
	bottom: 20px;
	right: 15px;
	width: 50px;
}

/***** Tricks area *****/

.tricks .card {
	padding: 0;
	margin: 15px 0; 
}

.tricks .card .thumbnail {
	height: 150px;
	background-size: 105%;
	background-position: center;
	background-repeat: no-repeat;
}

.tricks .card-body {
	padding: 10px;
}

.tricks .card-body .card-title {
	margin: 0;
}

.tricks .card-body .card-title a {
	color: #404040;
}

.tricks .card-body button {
	padding: 0 0 3px 0;
}

.tricks .card-body .fa-pencil-alt {
	color: #5e5e5e;
}

.tricks .card-body .fa-trash-alt {
	color: #f26363;
}

#btn-loadmore {
	display: block;
	margin: 25px auto;
}